{% extends "base.html" %}

{% block content %}
<h1>Current Stock</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Lot Number</th>
            <th>Expiry Date</th>
            <th>Received Date</th>
            <th>Acceptance Tested</th>
            <th>Passed By</th>
            <th>Panel Code</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for item in stock_items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.lot_number }}</td>
            <td>{{ item.expiry_date.strftime('%Y-%m-%d') if item.expiry_date else '' }}</td>
            <td>{{ item.received_date.strftime('%Y-%m-%d') if item.received_date else '' }}</td>
            <td>{{ item.acceptance_tested.strftime('%Y-%m-%d') if item.acceptance_tested else '' }}</td>
            <td>{{ item.passed_by }}</td>
            <td>{{ item.panel_code }}</td>
            <td>{{ item.location }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/receive" class="btn btn-primary">Receive Stock</a>
<a href="/export" class="btn btn-secondary">Export to Excel</a>

{% endblock %}